body { /* These are the background settings*/
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, rgb(180, 58, 58));
    /**/
    background-size: 400% 400%;                                 /**/
    animation: BackgroundGradient 15s ease infinite;            /**/
}                                                               /**/
                                                                /**/
@keyframes BackgroundGradient {                                 /**/
    0% {background-position: 0% 50%;}                           /**/
    50% {background-position: 100% 50%;}                        /**/
    100% {background-position: 0% 50%;}                         /**/
}                                                               /**/
.instructions{ /* here I changed the "enter a movie name" font to white */
    color: #ddd;
}
form {  /*here I widened the input field mininum because it was very small in mobile*/
    min-width: 75px;
}
.col-10 {       /* this is the poster column*/
    align-content: center;
    padding-right: 0%;
}

.col-2{
    border: 5px;
    padding-right: 5px;
   
}
.display-poster{  /*these are the individula poster divs*/
    max-width: 100%;
}
input,
img,
p,
button {
    margin: 10px;
}
img {
    max-width: 100%;
    height: auto;
    margin-left: 10px;
}
img:hover{
    box-shadow: 5px 3px 5px #ccc;
    transition: box-shadow 1s;
}
input {
    width: 95%;
}

.container-fluid{
align-content: center;
}